@import "../../../../styles/variables.scss";
@import "../../../../styles/utils.scss";

.sectionContainer {
    @include md {
        padding-top: 50px;
    }

    padding-top: 100px;

    @include md {
        flex-direction: column-reverse;
    }

    .imageContainer {
        @include md {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    img {
        @include md {
            max-width: 287px;
            margin-bottom: 20px;
        }

        @include xl {
            width: 310px;
            max-width: 100%;
            margin-bottom: 20px;
        }

        max-width: 387px;
        -webkit-box-shadow: 5px 5px 15px 5px #f6f0f6;
        box-shadow: 5px 5px 15px 5px #f6f0f6;
    }

    .sectionTextContainer {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .firstParagraph {
            margin-top: 17px;
        }

        .lastParagraph {
            margin-top: 17px;
        }

        @include md {
            text-align: center;
        }
    }
}

.pictureRight {
    @include md {
        flex-direction: column-reverse;
    }
    flex-direction: row-reverse;
}

.imageContainerRight {
    @include md {
        display: block;
    }
    display: flex;
    justify-content: flex-end;
}