.cardTitleContainer {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 16px;
  min-height: 88px;
  justify-content: space-between;

  @media (max-width: 480px) {
    gap: 24px 8px;
    display: flex;
    min-height: inherit;
  }
}

.cardTitleTexts {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media (max-width: 480px) {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
