.cardTitleContainer {
  display: flex;

}

.cardTitleTexts {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;

  @media (max-width: 480px) {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
