.footer {
  background: var(--theme-card-color);
  grid-area: footer;
  margin-top: auto;

  .row {
    padding: 35px 0;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  .subscribeBlock {
    display: flex;
    width: 50%;
    flex-direction: column;

    .subscribeWrap {
      max-width: 380px;
      width: 100%;
    }

    @media (max-width: 1024px) {
      width: 100%;
      text-align: center;
      align-items: center;
    }

    @media (max-width: 480px) {
      .subscribeWrap {
        max-width: 100%;
      }
    }
  }

  .sBlock {
    margin: 0 auto;

    @media (max-width: 1024px) {
      text-align: center;
      margin: 44px auto 0;
    }
  }

  .sLink {
    display: inline-flex;
    margin-right: 16px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    background: var(--theme-social-bg-color);

    &::before {
      content: '';
      width: 48px;
      height: 48px;
      position: absolute;
      top: 1px;
      left: 1px;
      background: var(--theme-social-bg-color);
      color: var(--theme-social-link-color);
      border-radius: 3px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    > svg {
      color: var(--theme-social-link-color);
      position: relative;
      z-index: 2;
    }

    &:hover,
    &:active {
      background: var(--gradient-pink);

      > svg {
        color: #ff4c8c;
      }
    }
  }

  .navWrap {
    flex-wrap: nowrap;
  }

  .navBlocksWrap {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    flex-grow: 1;
    justify-content: space-around;

    @media (max-width: 1024px) {
      justify-content: flex-start;
    }
    @media (max-width: 768px) {
      padding-left: 0;
      margin-top: 44px;
    }
  }

  .navBlock {
    display: inline-block;
    padding: 20px;

    @media (max-width: 1024px) {
      flex-basis: 50%;
    }

    @media (max-width: 768px) {
      padding: 20px 0;
    }

    .navTitle {
      margin: 0 0 20px;
    }

    .link {
      display: flex;
      align-items: center;
      color: var(--theme-primary-color);
      margin-bottom: 10px;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }

    .link:hover,
    .link:active {
      opacity: 0.8;
    }

    .link[aria-disabled='true'] {
      cursor: default;
      color: #717980;
    }
  }

  .logoWrap {
    max-width: 30%;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  .logoLink {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    margin-bottom: 9px;
  }

  .logo {
    margin-right: 3px;
    height: 64px;
  }

  .logoText {
    color: var(--theme-primary-color);
  }

  .title {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
  }

  .subscribeWrap {
    position: relative;
    margin-top: 12px;

    .subscribeInput {
      background: var(--theme-card-color);
      border: 1px solid var(--theme-border-color);
      box-sizing: border-box;
      border-radius: 4px;
      font-family: inherit;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px;
      letter-spacing: 0;
      text-align: left;
      padding: 15px 148px 15px 16px;
      width: 100%;
      color: var(--theme-primary-color);

      @media (max-width: 767px) {
        padding: 15px 16px;
      }
    }

    .subscribeButton {
      position: absolute;
      top: 50%;
      right: 8px;
      padding: 8px;
      transform: translate(0, -50%);

      @media (max-width: 767px) {
        position: static;
        transform: none;
        margin-top: 8px;
        width: 100%;
      }
    }
  }

  .copyrightsBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    background: var(--theme-body-color);
    border-top: 1px solid var(--theme-border-color);

    &__row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }


    .copyrightLinks {
      margin-left: auto;
      display: flex;
    }

    .copyrightLink {
      color: var(--theme-icon-color);
      font-size: 12px;
      font-weight: 600;
      line-height: 17px;
    }

    a.copyrightLink:hover {
      color: var(--theme-icon-color);
    }

    .copyrightLink + .copyrightLink {
      margin-left: 14px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 30px 0;

      .copyrightLinks {
        margin: 20px 0 0;
        flex-direction: column;
      }

      .copyrightLink + .copyrightLink {
        margin: 20px 0 0;
      }
    }
  }

  .nav {
    display: flex;
    margin-left: auto;

    @media (max-width: 768px) {
      margin: 0;
      flex-direction: column;
    }

    .dropdownLink {
      display: flex;
      align-items: center;
      color: var(--theme-primary-color);
      padding: 16px;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      border-radius: 6px;

      @media (max-width: 768px) {
        padding: 12px 0;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &:hover {
        background: var(--gradient-pink);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
