.ageOfRomulus {
  padding: 48px 0;

  h1 {
    text-align: center;

    span {
      display: block;
    }
  }

  .card {
    background: var(--theme-leaderboard-card-bg);
    padding: 18px;
    position: relative;
    border-radius: 4px;

    &:first-child {
      overflow: hidden;
    }

    > div,
    > p,
    > span {
      position: relative;
      z-index: 4;
    }

    &__table {
      display: grid;
      grid-gap: 8px;

      &__item {
        background: var(--theme-secondary-block);
        border-radius: 4px;
        padding: 4px 16px 4px 8px;
        position: relative;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        top: 1px;
        left: 1px;

        @media (max-width: 768px) {
          padding: 8px;
        }

        .button {
          display: flex;
          &_mobile {
            @media (max-width: 768px) {
              grid-column: 1/5;
              grid-row: 2;

              button {
                width: 100%;
              }
            }
          }
        }

        &::before {
          content: '';
          position: absolute;
          width: calc(100% - -2px);
          height: calc(100% - -2px);
          left: -1px;
          top: -1px;
          background: var(--theme-secondary-block);
          pointer-events: none;
          border-radius: 3px;
          z-index: -1;
        }

        .date {
          font-size: 10px;
          color: var(--theme-secondary-color);
          text-align: center;

          span {
            display: block;
          }
        }

        .stakers {
          padding-right: 22px;

          > div {
            line-height: normal;
          }

          span {
            display: block;
          }
        }

        &__active {
          &::before {
            background: var(--gradient-pink);
          }

          .date {
            color: var(--theme-primary-color);
          }
        }
      }

      button {
        font-size: 14px;
        padding: 9px 10px;
        width: 80px;
      }
    }

  }
}


.daoStakers {
  background: var(--theme-leaderboard-card-bg);
  border-radius: 4px;
  overflow: hidden;

  &__head {
    position: relative;
    padding: 32px;
    height: 180px;
    display: flex;
    align-items: center;
    overflow: hidden;

    @media (max-width: 768px) {
      justify-content: center;
      flex-direction: column;
    }

    > p {
      position: relative;
      z-index: 3;
    }

    &::before {
      content: '';
      position: absolute;
      width: 460px;
      height: 460px;
      left: 50%;
      top: 50%;
      background: radial-gradient(50% 50% at 50% 50%, rgba(255, 80, 139, 0.37) 0%, rgba(255, 80, 139, 0) 100%);
      opacity: 0.25;
      z-index: 1;
      pointer-events: none;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      height: 131px;
      width: 353px;
      top: 50%;
      transform: translate(-50%, -50%);
      background: url('../../../../resources/png/daoStakers_dots.png') center no-repeat;
      background-size: contain;
      z-index: 2;
      pointer-events: none;
    }

    &__img {
      position: absolute;
      top: 0;
      right: 0;

      height: 100%;
      content: '';
      width: 100%;
      pointer-events: none;

      &_Light {
        background: url('../../../../resources/png/stakers_table_img-light.png') right bottom no-repeat;
        background-size: contain;
        @media (max-width: 540px) {
          background-size: cover;
        }
      }
      &_Dark {
        background: url('../../../../resources/png/stakers_table_img-dark.png') right bottom no-repeat;
        background-size: contain;
        @media (max-width: 540px) {
          background-size: cover;
        }
      }
      @media (max-width: 540px) {
        background-size: cover;
        opacity: 0.5;
      }
    }

    .counter {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      display: flex;

      @media (max-width: 768px) {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin-top: 14px;
      }

      > div {
        background: var(--theme-leaderboard-counter-item);
        padding: 17px 14px;
        border-radius: 4px;
        margin: 0 4px;
      }
    }
  }

  &__data {
    border-top: 1px solid var(--theme-border-color);
    padding: 32px;
  }
}

:global(.ant-modal-mask) {
  background-color: rgba(11, 11, 11, 0.75);
}

:global(.ant-modal) {
  :global(.ant-modal-content) {
    border-radius: 4px;

    > :global(.ant-modal-body) {
      padding: 32px;
      color: var(--theme-primary-color);
      position: relative;
      overflow: hidden;
    }
  }
}

.modal:global(.ant-modal) {
  > :global(.ant-modal-content) {
    > :global(.ant-modal-body) {
      > div,
      > p,
      > img,
      > span {
        position: relative;
        z-index: 2;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 429px;
        height: 264.87px;
        background: url('../../../../resources/png/leaderboard_modal.png') center no-repeat;
        background-size: cover;
        pointer-events: none;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 460px;
        height: 460px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 80, 139, 0.37) 0%, rgba(255, 80, 139, 0) 100%);
        opacity: 0.25;
        pointer-events: none;
      }
    }
  }

  .button {
    width: 100%;
    padding: 18px 32px;
  }
}
