.component {
  max-width: 384px;
  width: 100%;

  @media (max-width: 900px) {
    max-width: none;
  }

  @media (max-width: 992px) {
    gap: 0 !important;
  }
}

.claimBlock {
  padding: 16px 20px;
  background: var(--theme-secondary-block);
  border-radius: 4px;
}
