.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 750px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.page {
  min-height: 60vh;
  display: flex;
  position: relative;
  padding: 60px 0;

  @media (max-width: 992px) {
    padding-top: 30px;
  }
  @media (max-width: 576px) {
    padding-top: 15px;
  }
}

.card {
  background: var(--theme-card-color);
  border-radius: 8px;
  padding: 17px 24px;
  position: relative;
  box-shadow: var(--theme-card-shadow);

  &__table {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &__head {
    > div {
      position: relative;

      @media (min-width: 720px) {
        border-right: 1px solid var(--theme-border-color);
      }

      @media (max-width: 720px) {
        &::before {
          content: '';
          position: absolute;
          left: -24px;
          bottom: -12px;
          height: 1px;
          width: calc(100% - -48px);
          background: var(--theme-border-color);
        }
      }

      &:last-child {
        border: 0;

        &::before {
          display: none;
        }
      }
    }
  }
}

.table {
  margin: 0 -24px;
  height: 100%;

  :global(.ant-pagination) {
    border-radius: 0;
    background: transparent;
    padding: 16px 0 0;
  }

  :global(.ant-spin-container) {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
  }

  :global(.ant-table-wrapper) {
    height: 100%;
  }

  :global(.ant-spin-nested-loading) {
    height: 100%;
  }

  :global(.ant-table) {
    background: transparent;
    border-top: 1px solid var(--theme-border-color);
    border-radius: 0;
  }

  :global(.ant-table-tbody) {
    border-radius: 0;

    :global(.ant-table-placeholder):hover {
      :global(.ant-table-cell) {
        background: var(--theme-card-color);
      }
    }

    :global(.ant-table-row):hover {
      :global(.ant-table-cell) {
        background: transparent;

        &:not(:last-of-type):first-of-type {
          border-left: 0;
        }
      }
    }

    :global(.ant-table-cell) {
      background: transparent;
      border-bottom: 1px solid var(--theme-border-color);
      vertical-align: middle;
      padding: 15px 24px;

      &:first-of-type {
        border-left: 0;
      }

      &:first-of-type:last-of-type {
        border: 0;
        border-radius: 12px;
      }
    }
  }
}

.week {
  text-transform: uppercase;
  background: rgba(255, 192, 98, 0.2);
  border: 1px solid #ffcb66;
  padding: 5px 10px;
  border-radius: 30px;
  display: inline-block;
  color: #ffa800;
  position: absolute;
  right: 16px;
  top: 16px;

  @media (max-width: 400px) {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.bigBlock {
  padding: 35px 42px;
  display: grid;
  grid-template-columns: 1fr 256px;
  grid-gap: 24px;
  max-width: 590px;

  @media (max-width: 720px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 400px) {
    padding: 60px 0 0;
  }
}


.cardGradient {
  background: var(--gradient-pink);
  border-radius: 8px;
  position: relative;
  box-shadow: var(--theme-card-shadow);

  > div {
    position: relative;
    padding: 16px 23px;
  }

  @media (max-width: 768px) {
    padding: 8px;
  }

  &::before {
    content: '';
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: 1px;
    top: 1px;
    background: var(--theme-secondary-block);
    pointer-events: none;
    border-radius: 7px;
    z-index: 0;
  }
}

.progress {
  width: 256px;
  height: 256px;
  background: url('../../resources/svg/bg_airdrop_progress.svg') center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  > div {
    width: 194px;
    height: 194px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: radial-gradient(52.06% 52.06% at 50% 50%, rgba(0, 0, 0, 0) 40.62%, rgba(193, 105, 92, 0.13) 100%);
    overflow: hidden;
    position: relative;

    > span {
      position: relative;
      z-index: 2;
      text-align: center;
      opacity: 0.7;
    }

    .waveAnimation {
      position: absolute;
      left: 0;
      top: 100%;
    }
  }
}
