.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 750px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
    padding-right: 50px;
    padding-left: 50px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1330px) {
    max-width: 1330px;
  }
}

.page {
  min-height: 60vh;
  display: flex;
  position: relative;
  padding: 60px 0;

  @media (max-width: 992px) {
    padding-top: 30px;
  }
  @media (max-width: 576px) {
    padding-top: 15px;
  }
}

.card {
  background: var(--theme-card-color);
  border-radius: 8px;
  padding: 17px 24px;
  position: relative;

  &__head {
    > div {
      border-right: 1px solid var(--theme-border-color);

      &:last-child {
        border: 0;
      }
    }
  }
}

.table {
  margin: 0 -24px;

  :global(.ant-table) {
    background: transparent;
    border-top: 1px solid var(--theme-border-color);
    border-radius: 0;
  }

  :global(.ant-table-tbody) {
    border-radius: 0;

    :global(.ant-table-placeholder):hover {
      :global(.ant-table-cell) {
        background: var(--theme-card-color);
      }
    }

    :global(.ant-table-row):hover {
      :global(.ant-table-cell) {
        background: transparent;

        &:not(:last-of-type):first-of-type {
          border-left: 0;
        }
      }
    }

    :global(.ant-table-cell) {
      background: transparent;
      border-bottom: 1px solid var(--theme-border-color);
      vertical-align: middle;

      &:first-of-type {
        border-left: 0;
      }

      &:first-of-type:last-of-type {
        border: 0;
        border-radius: 12px;
      }
    }
  }
}

.week {
  text-transform: uppercase;
  background: rgba(255, 192, 98, 0.2);
  border: 1px solid #ffcb66;
  padding: 5px 10px;
  border-radius: 30px;
  display: inline-block;
  color: #ffa800;
  position: absolute;
  right: 16px;
  top: 16px;
}

.bigBlock {
  padding: 35px 42px;
}


.cardGradient {
  background: var(--gradient-pink);
  border-radius: 8px;
  position: relative;

  > div {
    position: relative;
    padding: 16px 23px;
  }

  @media (max-width: 768px) {
    padding: 8px;
  }

  &::before {
    content: '';
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: 1px;
    top: 1px;
    background: var(--theme-secondary-block);
    pointer-events: none;
    border-radius: 7px;
    z-index: 0;
  }
}
