.modal:global(.ant-modal) {
  > :global(.ant-modal-content) {
    > :global(.ant-modal-body) {
      padding: 80px 32px;

      @media (max-width: 540px) {
        padding: 32px;
      }

      > div,
      > p,
      > img,
      > span {
        position: relative;
        z-index: 2;
        text-align: center;
      }

      &::before {
        content: '';
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 406px;
        height: 80px;
        background: url('../../../../resources/png/not_connect_modal.png') center no-repeat;
        background-size: cover;
        pointer-events: none;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 460px;
        height: 460px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 80, 139, 0.37) 0%, rgba(255, 80, 139, 0) 100%);
        opacity: 0.25;
        pointer-events: none;
      }
    }
  }
}
